<a class="tool__link" href="http://bem.info" title="BEM"></a>
<svg xmlns="http://www.w3.org/2000/svg" width="102" height="84" viewBox="0 0 101.5 83.9">
    <path fill="#ffc31a" d="M60 71.8h41.4v12H60zm-14-48H23.8V0H0v72h46c7.7 0 14-6.3 14-14V37.7c0-7.7-6.3-14-14-14z" class="bem__shape"/>
</svg>