<a class="nav-primary__link" href="https://github.com/pete-naish/" title="See Pete's projects on GitHub">
    <svg xmlns="http://www.w3.org/2000/svg" width="728.75" height="617.5" viewBox="0 191 728.75 617.5">
    <path class="github__ears" fill="#000" d="M365,808.5c-4.167,0-15.833-0.208-35-0.625s-30.417-0.625-33.75-0.625c-95.833,0-169.167-24.375-220-73.125S0,613.5,0,518.5
        c0-59.167,19.583-110.417,58.75-153.75c-3.333-2.5-3.333-23.333,0-62.5c4.167-43.333,12.5-80.417,25-111.25
        c48.333,5,108.75,32.5,181.25,82.5c25-6.667,58.333-10,100-10c42.5,0,75.833,3.333,100,10c30.833-21.667,62.083-39.583,93.75-53.75
        c30.833-14.167,52.917-22.5,66.25-25l20-3.75c13.333,33.333,22.083,70.417,26.25,111.25c3.333,38.333,2.917,59.167-1.25,62.5
        c39.167,43.333,58.75,94.583,58.75,153.75c0,107.5-32.5,185.417-97.5,233.75c-50,36.667-116.25,55-198.75,55
        c-3.333,0-14.375,0.208-33.125,0.625S369.166,808.5,365,808.5z"/>
    <path class="github__face" fill="#f3cab2" d="M366.25,772.25c88.333,0,154.583-10.417,198.75-31.25c45-20.833,67.5-64.167,67.5-130
        c0-28.333-9.167-54.583-27.5-78.75s-40.833-38.333-67.5-42.5c-11.667-1.667-42.917-1.25-93.75,1.25
        c-50.834,2.5-76.666,3.75-77.5,3.75c-14.167,0-34.792-0.833-61.875-2.5s-48.75-2.708-65-3.125s-33.958,1.458-53.125,5.625
        S151.667,506,140,516c-27.5,25-41.25,56.667-41.25,95c0,65.833,22.083,109.167,66.25,130c42.5,20.833,108.333,31.25,197.5,31.25
        H366.25z"/>
    <path class="github__eye--right" fill="#6e4936" stroke="#fff" stroke-width="15" d="M438.75,622.25c0-18.333,4.792-34.792,14.375-49.375S475.417,551,491.25,551c15,0,27.292,7.292,36.875,21.875
        S542.5,603.917,542.5,622.25s-4.792,34.792-14.375,49.375S506.25,693.5,491.25,693.5c-15.833,0-28.542-7.292-38.125-21.875
        S438.75,640.583,438.75,622.25z"/>
    <path class="github__eye--left" fill="#6e4936" stroke="#fff" stroke-width="15" d="M240,551c15,0,27.083,7.292,36.25,21.875S290,603.917,290,622.25s-4.583,34.792-13.75,49.375S255,693.5,240,693.5
        c-15.833,0-28.75-7.292-38.75-21.875s-15-31.042-15-49.375s5-34.792,15-49.375S224.167,551,240,551z"/>
    </svg>
</a>