<a class="tool__link" href="http://compass-style.org/" title="Compass"></a>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 186" width="176" height="186">
<path class="compass__shape compass__shape--bottom" fill="#D91607" d="M74,28C33.842,41.991,0,66.474,0,109s34.474,77,77,77
                c42.525,0,61.591-24.364,77-64c7.75-19.935,20-110,20-110S94.092,21,74,28z"/>
<path class="compass__shape compass__shape--middle" fill="#FE6056" d="M76,16C35.842,29.991,2,54.474,2,97s34.474,77,77,77
                c42.525,0,61.591-24.364,77-64c7.75-19.935,20-110,20-110S96.092,9,76,16z"/>
<path class="compass__shape compass__shape--top" fill="#EB1808" d="M74,22C33.842,35.991,0,60.474,0,103s34.474,77,77,77
                c42.525,0,61.591-24.364,77-64c7.75-19.935,20-110,20-110S94.092,15,74,22z"/>
<path class="compass__star" fill="#FFFFFF" d="M82.357,120.934c-3.572,41.885-7.143,41.885-10.714,0c-32.143,27.092-34.668,24.566-7.576-7.576
        c-41.886-3.572-41.886-7.143,0-10.715C36.975,70.5,39.5,67.975,71.643,95.066c3.571-41.885,7.142-41.885,10.714,0
        c32.143-27.092,34.668-24.566,7.576,7.576c41.885,3.572,41.885,7.143,0,10.715C117.025,145.5,114.5,148.025,82.357,120.934z"/>
</svg>
