<a class="tool__link" href="http://git-scm.com" title="Git">
    <svg xmlns="http://www.w3.org/2000/svg" width="133" height="201" viewBox="0.002 133.187 333.891 333.885">
        <path fill="#F03C2E" d="M327.6 285.3L181.8 139.5c-8.4-8.4-22-8.4-30.4 0L121 169.8l38.5 38.4c9-3 19.2-1 26.3 6 7.2 7.2 9.2 17.6 6 26.5l37 37c9-3 19.4-1 26.5 6 10 10 10 26.3 0 36.3-10 10-26.2 10-36.2 0-7.2-7.5-9-18.6-5.2-28L179 257.8v91c2.5 1 4.8 2.7 6.8 4.7 10 10 10 26.2 0 36.2-10 10-26.2 10-36.2 0-10-10-10-26.2 0-36.2 2.5-2.5 5.4-4.3 8.4-5.6v-92c-3-1.3-6-3-8.4-5.6-7.5-7.6-9.4-18.7-5.5-28l-37.5-38-100 100c-8.4 8.5-8.4 22 0 30.5L152 460.7c8.5 8.4 22 8.4 30.5 0l145-145c8.5-8.5 8.5-22 0-30.5" class="git__shape"/>
    </svg>
</a>