<a class="tool__link" href="http://en.wikipedia.org/wiki/Css3#CSS_3" title="CSS 3">
    <svg xmlns="http://www.w3.org/2000/svg" width="297" height="420" viewBox="0 0 297.449 419.876">
        <path fill="#fff" d="M233.1 15.55h-24.7l25.7 27.85v13.27h-52.9V41.14h25.67L181.2 13.28V0h51.9v15.55zm-62.4 0h-24.67L171.7 43.4v13.27h-52.88V41.14h25.67l-25.7-27.86V0h51.9v15.55zm-61.75.63H82.3v24.3h26.65v16.2H63.37V0h45.58v16.18z" class="css3__text"/>
        <path fill="#1572B6" d="M27.07 386.15L0 82.55h297.45l-27.1 303.56-121.8 33.8z" class="css3__shield--left"/>
        <path fill="#33A9DC" d="M148.73 394.06l98.42-27.28 23.16-259.42H148.76z" class="css3__shield--right"/>
        <path fill="#fff" d="M148.73 217.36H198l3.4-38.13h-52.67V142h93.37l-.9 9.98-9.14 102.62h-83.33z" class="css3__3--top-right"/>
        <path fill="#EBEBEB" d="M148.95 314.07l-.16.05-41.5-11.2-2.66-29.7H67.28l5.22 58.47 76.28 21.14.17-.05z" class="css3__3--bottom-left"/>
        <path fill="#fff" d="M194.84 253.02l-4.5 49.87-41.52 11.2v38.72l76.34-21.15.56-6.3L232.2 253z" class="css3__3--bottom-right"/>
        <path fill="#EBEBEB" d="M148.85 142v37.23H58.9l-.74-8.37-1.7-18.88-.9-10zm-.12 75.37v37.23h-40.95l-.75-8.37-1.7-18.87-.9-10z" class="css3__3--top-left"/>
    </svg>
</a>