---
title: "Hey"
date: 2015-2-26
published: true
image: "banner--macbook.jpg"
tags:
- About
---

<p>I've been a professional front-end developer since 2009. Before that, I was a front-end hobbyist and amateur tinkerer, and I've always enjoyed using computers.</p>
<p>Back when I was a young teenager, my dad brought home our first 'proper' computer. I wreaked havoc on it, blindly installing shit like BonziBuddy and getting all kinds of viruses. Desperately trying to get rid of all the crap I'd installed, I discovered Lifehacker, and subsequently spent hours tweaking the OS to make it super cool.</p>
<p>Those early years of computer abuse&mdash;inadvertantly installing viruses, wiping the OS, and rebuilding the machine ad nauseum&mdash;helped me develop a habit that, until recently, I had assumed all regular computer users shared: every time I install a new app, or use a new machine, I spend time going through its menus, looking for familiar options, and disabling or enabling ones that might improve my workflow.</p>
<p>You should know this about me: I love efficiency.</p>
<p>Recently, I've noticed that developers tend to provide software and operating systems that, in their vanilla state, have features that just get in the way of users like me. They treat every user as a novice. Things like Windows User Account Control really bother me. For users that know what they're doing, it has no reason to exist. It interrupts my workflow, harming my efficiency. For users that don't know what they're doing, I imagine these warnings are confusing and worrying.</p>
<p>So far in my professional career, I'd say that most people have no real interest in tweaking their machines to suit their needs. They're happy to live with the vanilla state.</p>
<p>I'm hoping to change that mindset. On this blog, I'm going to post small, easy-to-digest tips to help people get more out of their machines. Each post will hopefully include a screencast, along with write-ups and downloadable assets where appropriate. The posts will probably have a front-end dev flavour, but there should be good stuff here for everyone. I'll aim to cover OS X, Windows, Chrome, Sublime Text, Terminal, Sass, Grunt, and more.</p>
<p>I encourage commenting and sharing your own tips or suggestions to improve and build upon what I've written about here.</p>
<p>Thanks for stopping by,<br>Pete</p>