/* Containers
----------------------------------------------------------------------------------------------------*/
.container-grid {
	margin-left: percent(10px);
	margin-right: percent(10px);
	padding: 0;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8 {
	display:inline;
	float: left;
	position: relative;
	margin-left: percent(10px);
	margin-right: percent(10px);
}

/* Grid >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container-grid .grid-1 {
	width: percent(80px);
}

.container-grid .grid-2 {
	width: percent(180px);
}

.container-grid .grid-3 {
	width: percent(280px);
}

.container-grid .grid-4 {
	width: percent(380px);
}

.container-grid .grid-5 {
	width: percent(480px);
}

.container-grid .grid-6 {
	width: percent(580px);
}

.container-grid .grid-7 {
	width: percent(680px);
}

.container-grid .grid-8 {
	width: percent(780px);
}

/* Prefix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container-grid .prefix-1 {
	padding-left: percent(100px);
}

.container-grid .prefix-2 {
	padding-left: percent(200px);
}

.container-grid .prefix-3 {
	padding-left: percent(300px);
}

.container-grid .prefix-4 {
	padding-left: percent(400px);
}

.container-grid .prefix-5 {
	padding-left: percent(500px);
}

.container-grid .prefix-6 {
	padding-left: percent(600px);
}

.container-grid .prefix-7 {
	padding-left: percent(700px);
}

/* Suffix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container-grid .suffix-1 {
	padding-right: percent(100px);
}

.container-grid .suffix-2 {
	padding-right: percent(200px);
}

.container-grid .suffix-3 {
	padding-right: percent(300px);
}

.container-grid .suffix-4 {
	padding-right: percent(400px);
}

.container-grid .suffix-5 {
	padding-right: percent(500px);
}

.container-grid .suffix-6 {
	padding-right: percent(600px);
}

.container-grid .suffix-7 {
	padding-right: percent(700px);
}

/* Push Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container-grid .push-1 {
	left: percent(100px);
}

.container-grid .push-2 {
	left: percent(200px);
}

.container-grid .push-3 {
	left: percent(300px);
}

.container-grid .push-4 {
	left: percent(400px);
}

.container-grid .push-5 {
	left: percent(500px);
}

.container-grid .push-6 {
	left: percent(600px);
}

.container-grid .push-7 {
	left: percent(700px);
}

/* Pull Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/

.container-grid .pull-1 {
	left: -(percent(100px));
}

.container-grid .pull-2 {
	left: -(percent(200px));
}

.container-grid .pull-3 {
	left: -(percent(300px));
}

.container-grid .pull-4 {
	left: -(percent(400px));
}

.container-grid .pull-5 {
	left: -(percent(500px));
}

.container-grid .pull-6 {
	left: -(percent(600px));
}

.container-grid .pull-7 {
	left: -(percent(700px));
}