<!doctype html>
<html lang="en">
    <head>
        <title>Pete Naish | {% block title %}{{model.title}}{% endblock %}</title>
        {% include "meta-tags" %}
        {% include "favicons" %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
        {{ "app.css" | asset_url | stylesheet_tag }}
    </head>
    <body>
        {% include "header" %}
        <section class="introduction--fancy">
            <h1>The Blog</h1>
        </section>
        {% block content %}{% endblock %}
        {% include "scripts" %}
    </body>
</html>