<!doctype html>
<html lang="en">
    <head>
        <title>Pete Naish | {% block title %}{{model.title}}{% endblock %}</title>
        {% include "meta-tags" %}
        {% include "favicons" %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
        {{ "app.css" | asset_url | stylesheet_tag }}
    </head>
    <body>
        {% include "header" %}
        {% block content %}{% endblock %}
        <script>
        function scrollTo(o,n,t){var e=o.scrollTop,c=n-e,l=0,u=20,a=function(){l+=u;var n=Math.easeInOutQuad(l,e,c,t);o.scrollTop=n,t>l&&setTimeout(a,u)};a()}document.getElementsByClassName("logo")[0].onclick=function(e){e.preventDefault();scrollTo(document.body,0,500)},Math.easeInOutQuad=function(o,n,t,e){return o/=e/2,1>o?t/2*o*o+n:(o--,-t/2*(o*(o-2)-1)+n)};
        </script>
        {% include "scripts" %}
    </body>
</html>