<article class="project">
    <h3 class="project__title">Birmingham Business School Identity Guidelines</h3>
    <img class="project__image" src="/assets/img/content/project--precedent__birmingham-business-school.png">
    <div class="project__info">
        <h4 class="info__label">Project brief</h4>
        <p class="info__text">To create a single-page, fully-responsive, mobile-first static website to showcase brand and identity guidelines</p>
        <h4 class="info__label">My role</h4>
        <p class="info__text">Developing all HTML, CSS, and JavaScript assets for the project</p>
        <h4 class="info__label">Browser support</h4>
        <p class="info__text">Latest browsers spanning mobile, tablet, and desktop, including Internet Explorer 9+</p>
        <ul class="project__tools">
            <li class="project__tool">
                {% include "icons/icon--html5" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--css3" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--jquery" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--sass" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--bem" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--mixture" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--git" %}
            </li>
        </ul>
    </div>
    <div class="project__actions">
        <a class="button--positive" href="/bbs/" title="Password protected. Email pete@nai.sh for login details">View front-end templates</a>
        <a class="button--positive" href="http://www.bbsguidelines.bham.ac.uk/">View live website</a>
        <p class="link-note">Email pete@nai.sh for login details</p>
    </div>
</article>