<article class="project">
    <h3 class="project__title">Clearer Ponds</h3>
    <img class="project__image" src="http://static.nai.sh/assets/img/content/project--freelance__clearer-ponds.png">
    <div class="project__info">
        <h4 class="info__label">Project brief</h4>
        <p class="info__text">To build a static brochure website for desktop users that lists services provided</p>
        <h4 class="info__label">My role</h4>
        <p class="info__text">Developing all site content</p>
        <h4 class="info__label">Browser support</h4>
        <p class="info__text">Desktop browsers including Internet Explorer 7+</p>
    </div>
    <div class="project__actions">
        <a class="button--positive" href="http://clearerponds.co.uk">View live website</a>
    </div>
</article>