<article class="project">
    <h3 class="project__title">Clearer Ponds</h3>
    <img class="project__image" src="/assets/img/content/project--freelance__clearer-ponds.png">
    <div class="project__info">
        <p class="info__text">Static brochure website</p>
        <h4 class="info__label">My role</h4>
        <p class="info__text">Creating all front-end components</p>
        <h4 class="info__label">Browser support</h4>
        <p class="info__text">Desktop browsers including Internet Explorer 7+</p>
    </div>
    <div class="project__actions">
        <a class="project__cta" href="http://clearerponds.co.uk">View live website</a>
    </div>
</article>