<article class="project">
    <h3 class="project__title">David Lloyd</h3>
    <img class="project__image" src="/assets/img/content/project--precedent__david-lloyd.png">
    <div class="project__info">
        <p class="info__text">Fully-responsive, mobile-first website with Sitecore back-end<br/> Accessible to AA standards</p>
        <h4 class="info__label">My role</h4>
        <p class="info__text">Creating all front-end templates, including AJAX Club Finder and custom Google Maps</p>
        <h4 class="info__label">Browser support</h4>
        <p class="info__text">Latest browsers spanning mobile, tablet, and desktop, including Internet Explorer 8+</p>
        <ul class="project__tools">
            <li class="project__tool">
                {% include "icons/icon--html5" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--css3" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--jquery" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--prepros" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--sass" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--git" %}
            </li>
        </ul>
    </div>
    <div class="project__actions">
        <a class="project__cta" href="/david-lloyd/" title="Password protected. Email me for the login details - pete@nai.sh">View front-end templates</a>
        <a class="project__cta" href="http://www.davidlloyd.co.uk/">View live website</a>
    </div>
</article>