<article class="project">
    <h3 class="project__title">Royal Central School of Speech and Drama</h3>
    <img class="project__image" src="/assets/img/content/project--precedent__central-school-speech-drama.png">
    <div class="project__info">
        <p class="info__text">Fully-responsive, mobile-first website with Drupal back-end<br/> Accessible to AA standards</p>
        <h4 class="info__label">My role</h4>
        <p class="info__text">Creating all front-end components</p>
        <h4 class="info__label">Browser support</h4>
        <p class="info__text">Latest browsers spanning mobile, tablet, and desktop, including Internet Explorer 9+</p>
        <ul class="project__tools">
            <li class="project__tool">
                {% include "icons/icon--html5" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--css3" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--jquery" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--sass" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--bem" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--mixture" %}
            </li>
            <li class="project__tool">
                {% include "icons/icon--git" %}
            </li>
        </ul>
    </div>
    <div class="project__actions">
        <a class="project__cta" href="/central/" title="Password protected. Email me for the login details - pete@nai.sh">View front-end templates</a>
        <a class="project__cta" href="http://www.cssd.ac.uk/">View live website</a>
    </div>
</article>