<article class="blog__post">
    <div class="wrapper">
        <h2>Uh oh :(</h2>
        {% if mixture.route.tag %}
            <p>Sorry, I couldn't find any articles with the tag "{{ mixture.route.tag | uri_decode }}"</p>
            <p><a href="/blog">Return to the blog</a></p>
        {% else %}
            <p>No articles have been posted here yet!</p>
        {% endif %}
    </div>
</article>
