<article class="project">
        <div class="project__info">
            <div class="info--primary">
                <h3 class="project__title">Beauty Box</h3>
                <p class="info__text">Fully-responsive, single-page website with Perch CMS</p>
            </div>
            <div class="info--secondary">
                <h4 class="info__label">My role</h4>
                <p class="info__text">Writing all HTML, CSS, and JavaScript, and integrating Perch content management system</p>
                <h4 class="info__label">Browser support</h4>
                <p class="info__text">Latest browsers spanning mobile, tablet, and desktop, including Internet Explorer 9+</p>
            </div>
            <ul class="project__tools">
                <li class="project__tool">
                    {% include "html5" %}
                </li>
                <li class="project__tool">
                    {% include "css3" %}
                </li>
                <li class="project__tool">
                    {% include "jquery" %}
                </li>
                <li class="project__tool">
                    {% include "sass" %}
                </li>
                <li class="project__tool">
                    {% include "compass" %}
                </li>
                <li class="project__tool">
                    {% include "git" %}
                </li>
            </ul>
        </div>
        <img class="project__image" src="/assets/img/content/project--freelance__beauty-box.png">
        <div class="project__actions">
            <a class="project__cta--single" href="http://beautyboxknebworth.co.uk">View live website</a>
        </div>
    </article>