<a class="tool__link" href="http://bem.info" title="BEM"></a>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101.5 83.9" width="102" height="84">
    <rect class="bem__shape" x="59.9" y="71.8" fill="##ffc31a" width="41.5" height="12"/>
    <path class="bem__shape" fill="##ffc31a" d="M46,23.8H23.8V0H0v71.9l46,0c7.7,0,13.9-6.2,13.9-13.9V37.7C59.9,30,53.7,23.8,46,23.8z"/>
</svg>