<article class="project">
        <div class="project__info">
            <div class="info--primary">
                <h3 class="project__title">Royal Central School of Speech and Drama</h3>
                <p class="info__text">Fully-responsive, mobile-first website with Drupal back-end<br/> Accessible to AA standards</p>
            </div>
            <div class="info--secondary">
                <h4 class="info__label">My role</h4>
                <p class="info__text">Creating all front-end components</p>
                <h4 class="info__label">Browser support</h4>
                <p class="info__text">Latest browsers spanning mobile, tablet, and desktop, including Internet Explorer 9+</p>
            </div>
            <ul class="project__tools">
                <li class="project__tool">
                    <a href="#" title="HTML 5">{% include "html5" %}</a>
                </li>
                <li class="project__tool">
                    <a href="#" title="CSS 3">{% include "css3" %}</a>
                </li>
                <li class="project__tool">
                    <a href="#" title="jQuery">{% include "jquery" %}</a>
                </li>
                <li class="project__tool">
                    <a href="#" title='Sass'>{% include "sass" %}</a>
                </li>
                <li class="project__tool">
                    <a href="bem.info/" title="BEM">{% include "bem" %}</a>
                </li>
                <li class="project__tool">
                    <a href="#" title="Mixture">{% include "mixture" %}</a>
                </li>
                <li class="project__tool">
                    <a href="#" title="Git">{% include "git" %}</a>
                </li>
            </ul>
        </div>
        <img class="project__image" src="/assets/img/content/project--precedent__central-school-speech-drama.png">
        <div class="project__actions">
            <a class="project__cta" href="">View front-end templates</a>
            <a class="project__cta" href="http://www.cssd.ac.uk/">View live website</a>
        </div>
    </article>