<article class="project">
        <div class="project__info">
            <div class="info--primary">
                <h3 class="project__title">David Lloyd</h3>
                <p class="info__text">Fully-responsive, mobile-first website with Sitecore back-end<br/> Accessible to AA standards</p>
            </div>
            <div class="info--secondary">
                <h4 class="info__label">My role</h4>
                <p class="info__text">Creating all front-end templates, including AJAX Club Finder and custom Google Maps</p>
                <h4 class="info__label">Browser support</h4>
                <p class="info__text">Latest browsers spanning mobile, tablet, and desktop, including Internet Explorer 8+</p>
            </div>
            <ul class="project__tools">
                <li class="project__tool">
                    <a href="#">HTML 5</a>
                </li>
                <li class="project__tool">
                    <a href="#">CSS 3</a>
                </li>
                <li class="project__tool">
                    <a href="#">jQuery</a>
                </li>
                <li class="project__tool">
                    <a href="#">Sass</a>
                </li>
                <li class="project__tool">
                    <a href="#">Prepros</a>
                </li>
                <li class="project__tool">
                    <a href="#">Git</a>
                </li>
            </ul>
        </div>
        <img class="project__image" src="/assets/img/content/project--precedent__david-lloyd.png">
        <div class="project__actions">
            <a class="project__cta" href="">View front-end templates</a>
            <a class="project__cta" href="http://www.davidlloyd.co.uk/">View live website</a>
        </div>
    </article>