<article class="project">
        <div class="project__info">
            <div class="info--primary">
                <h3 class="project__title">FSCS Protection Checker</h3>
                <p class="info__text">Static campaign microsite with desktop and mobile versions</p>
            </div>
            <div class="info--secondary">
                <h4 class="info__label">My role</h4>
                <p class="info__text">Building entire microsite, including Protection Checker tool using jQuery</p>
                <h4 class="info__label">Browser support</h4>
                <p class="info__text">Latest browsers across mobile and desktop, including Internet Explorer 8+</p>
            </div>
            <ul class="project__tools">
                <li class="project__tool">
                    <a href="#">HTML 5</a>
                </li>
                <li class="project__tool">
                    <a href="#">CSS 3</a>
                </li>
                <li class="project__tool">
                    <a href="#">jQuery</a>
                </li>
                <li class="project__tool">
                    <a href="#">Git</a>
                </li>
            </ul>
        </div>
        <img class="project__image" src="/assets/img/content/project--precedent__fscs.png">
        <div class="project__actions">
            <a class="project__cta--single" href="http://www.fscs.org.uk/protected/">View live website</a>
        </div>
    </article>