<nav class="nav--primary">
    <ul class="nav--primary__items">
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="https://github.com/pete-naish/"><span class="context">Check out my projects on </span><span class="highlight">GitHub</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="http://uk.linkedin.com/in/petenaish/"><span class="context">Connect with me on </span><span class="highlight">LinkedIn</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="https://twitter.com/tweet_naish"><span class="context">Follow me on </span><span class="highlight">Twitter</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="mailto:pete@nai.sh"><span class="context">Send me an </span><span class="highlight">Email</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="http://pete.nai.sh/cv" title="PDF 69kb"><span class="context">Read my </span><span class="highlight">CV</span></a>
        </li>
    </ul>
</nav>