<header>
    <img class="logo" src="/assets/img/frame/logo.png">

    <nav class="nav--primary">
        <ul class="nav--primary__items">
            <li class="nav--primary__item">
                {% comment %}{% include "icons/icon--github" %}{% endcomment %}
            </li>
            <li class="nav--primary__item">
                {% comment %}{% include "icons/icon--linkedin" %}{% endcomment %}
            </li>
            <li class="nav--primary__item">
                {% comment %}{% include "icons/icon--twitter" %}{% endcomment %}
            </li>
            <li class="nav--primary__item">
                {% comment %}{% include "icons/icon--email" %}{% endcomment %}
                
            </li>
            <li class="nav--primary__item">
                <a
                {% comment %}{% include "icons/icon--cv" %}{% endcomment %}
            </li>
        </ul>
    </nav>
</header>