<header>
    <h1>Pete Naish</h1>
</header>

{% comment %}<nav class="nav--primary">
    <ul class="nav--primary__items">
        <li class="nav--primary__item">
            {% include "icons/icon--github" %}
        </li>
        <li class="nav--primary__item">
            {% include "icons/icon--linkedin" %}
        </li>
        <li class="nav--primary__item">
            {% include "icons/icon--twitter" %}
        </li>
        <li class="nav--primary__item">
            {% include "icons/icon--email" %}
        </li>
        <li class="nav--primary__item">
            {% include "icons/icon--cv" %}
        </li>
    </ul>
</nav>{% endcomment %}