<header>
    <h1>Pete Naish</h1>
    <h1>London-based Front-end Web Developer</h1>
</header>

<nav class="nav--primary">
    <ul class="nav--primary__items">
        <li class="nav--primary__item">
            {% comment %}<a class="nav--primary__link" href="https://github.com/pete-naish/"><span class="context">Check out my projects on </span><span class="highlight">GitHub</span></a>{% endcomment %}
            {% include "github" %}
        </li>
        <li class="nav--primary__item">
            {% comment %}<a class="nav--primary__link" href="http://uk.linkedin.com/in/petenaish/"><span class="context">Connect with me on </span><span class="highlight">LinkedIn</span></a>{% endcomment %}
            {% include "linkedin" %}
        </li>
        <li class="nav--primary__item">
            {% comment %}<a class="nav--primary__link" href="https://twitter.com/tweet_naish"><span class="context">Follow me on </span><span class="highlight">Twitter</span></a>{% endcomment %}
            {% include "twitter" %}
        </li>
        <li class="nav--primary__item">
            {% comment %}<a class="nav--primary__link" href="mailto:pete@nai.sh"><span class="context">Send me an </span><span class="highlight">Email</span></a>{% endcomment %}
            {% include "email" %}
        </li>
        <li class="nav--primary__item">
            {% comment %}<a class="nav--primary__link" href="http://pete.nai.sh/cv" title="PDF 69kb"><span class="context">Read my </span><span class="highlight">CV</span></a>{% endcomment %}
            {% include "cv" %}
        </li>
    </ul>
</nav>