<header>
    <a href="/">
        <img class="logo" width="153" src="http://static.nai.sh/assets/img/frame/logo.png" alt="Pete Naish Front End Web Developer" title="Home">
    </a>
    <nav class="nav-primary">
        <ul class="nav-primary__items">
            <li class="nav-primary__item">
                {% include "icons/icon--github" %}
            </li>
            <li class="nav-primary__item">
                {% include "icons/icon--linkedin" %}
            </li>
            <li class="nav-primary__item">
                {% include "icons/icon--twitter" %}
            </li>
            <li class="nav-primary__item">
                <a class="nav-primary__link--text" href="/blog" title="Visit Pete's Blog">Blog</a>
            </li>
            <li class="nav-primary__item">
                <a class="nav-primary__link--text" href="mailto:pete@nai.sh" title="Email Pete">Email</a>
            </li>
            <li class="nav-primary__item">
                <a class="nav-primary__link--text" href="http://pete.nai.sh/cv" title="Download a copy of Pete's CV">CV</a>
            </li>
        </ul>
    </nav>
</header>