<nav class="nav--primary">
    <ul class="nav--primary__items">
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="#">Check out my projects on <span class="highlight">GitHub</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="#">Connect with me on <span class="highlight">LinkedIn</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="#">Follow me on <span class="highlight">Twitter</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="#">Send me and <span class="highlight">email</span></a>
        </li>
        <li class="nav--primary__item">
            <a class="nav--primary__link" href="#">Read my <span class="highlight">CV</span></a>
        </li>
    </ul>
</nav>