<section class="introduction">
    <h1>I love creative problem solving, building <br>ambitious websites, wearing business <br>slippers, and drum &amp; bass</h1>
</section>
<section class="project-listing">
    {% include "projects/project--bbs" %}
    {% include "projects/project--central" %}
    {% include "projects/project--dll" %}
    {% include "projects/project--fscs" %}
    {% include "projects/project--parkinsons" %}
    {% include "projects/project--mdu" %}
    {% include "projects/project--bb" %}
    {% include "projects/project--cp" %}
</section>
