<h2 class="section-title">Precedent</h2>
<section class="project-listing">
    <article class="project">
        <div class="project__info">
            <h3 class="project__title">Royal Central School of Speech and Drama</h3>
            <p class="project__description">Fully-responsive, mobile-first website build with Drupal back-end. Accessible to AA standards</p>
            <h4 class="label">My role</h4>
            <p class="project__role">Creating all front-end components</p>
            <h4 class="label">Browser support</h4>
            <p class="project__support">Latest popular browsers including mobile and tablet, and Internet Explorer 9+</p>
            <ul class="project__tools">
                <li class="project__tool">
                    <a href="#">HTML 5</a>
                </li>
                <li class="project__tool">
                    <a href="#">CSS 3</a>
                </li>
                <li class="project__tool">
                    <a href="#">jQuery</a>
                </li>
                <li class="project__tool">
                    <a href="#">Sass</a>
                </li>
                <li class="project__tool">
                    <a href="#">BEM</a>
                </li>
                <li class="project__tool">
                    <a href="#">Mixture</a>
                </li>
                <li class="project__tool">
                    <a href="#">Git</a>
                </li>
            </ul>
        </div>
        <img class="project__image" src="/assets/img/content/project--precedent__central-school-speech-drama.png">
        <div class="project__actions">
            <a class="project__cta" href="">View front-end templates</a>
            <a class="project__cta" href="">View live website</a>
        </div>
    </article>
    <img class="project__image" src="/assets/img/content/project--precedent__david-lloyd.png">
    <img class="project__image" src="/assets/img/content/project--precedent__fscs.png">
    <img class="project__image" src="/assets/img/content/project--precedent__parkinsons-uk.png">
    <img class="project__image" src="/assets/img/content/project--precedent__medical-defence-union.png">
    <h2 class="section-title">Freelance</h2>
    <img class="project__image" src="/assets/img/content/project--freelance__beauty-box.png">
    <img class="project__image" src="/assets/img/content/project--freelance__clearer-ponds.png">
</section>
