<section class="project-listing">
    <h2 class="section-title">Precedent</h2>
    {% include "central" %}
    {% include "dll" %}
    {% include "fscs" %}
    {% include "parkinsons" %}
    {% include "mdu" %}
    
    <h2 class="section-title">Freelance</h2>
    {% include "bb" %}
    {% include "cp" %}
</section>
