<section class="project-listing">
    {% comment %}<h2 class="section-title">Precedent</h2>{% endcomment %}
    {% include "projects/project--central" %}
    {% include "projects/project--dll" %}
    {% include "projects/project--fscs" %}
    {% include "projects/project--parkinsons" %}
    {% include "projects/project--mdu" %}
    
    {% comment %}<h2 class="section-title">Freelance</h2>{% endcomment %}
    {% include "projects/project--bb" %}
    {% include "projects/project--cp" %}
</section>
