<article class="project">
        <div class="project__info">
            <div class="info--primary">
                <h3 class="project__title">The MDU</h3>
                <p class="info__text">Desktop-optimized website with Sitecore back-end<br/> Accessible to AA standards</p>
            </div>
            <div class="info--secondary">
                <h4 class="info__label">My role</h4>
                <p class="info__text">Creating all front-end templates</p>
                <h4 class="info__label">Browser support</h4>
                <p class="info__text">Latest desktop browsers, and Internet Explorer 7+</p>
            </div>
            <ul class="project__tools">
                <li class="project__tool">
                    {% include "jquery" %}
                </li>
                <li class="project__tool">
                    {% include "sass" %}
                </li>
                <li class="project__tool">
                    {% include "git" %}
                </li>
            </ul>
        </div>
        <img class="project__image" src="/assets/img/content/project--precedent__medical-defence-union.png">
        <div class="project__actions">
            <a class="project__cta" href="">View front-end templates</a>
            <a class="project__cta" href="http://www.themdu.com/">View live website</a>
        </div>
    </article>