// #COLOR

$color--grey: #323848;
$color--grey--lighter: lighten($color--grey, 10%);
$color--grey--darker: darken($color--grey, 10%);
$color--grey--background: #2B303B;

$color--central: #60584a;
$color--dll: #64bebe;
$color--fscs: #37164e;
$color--parkinsons: #006a8e;
$color--mdu: #bb3744;
$color--bb: #bfcdcd;
$color--cp: #e79dc4;