// #COLOR

// $color--brand-red: #ea1e06;
$color--grey: #323848;
$color--grey--lighter: lighten($color--grey, 10%);
$color--grey--darker: darken($color--grey, 10%);
$color--grey--background: #2B303B;
// $color--brand-grey__mid: #cecece;
// $color--brand-grey__light: #efefef;

// $base--text-color: $color--brand-grey;
// $base--link-color: $color--brand-grey;
// $base--brand-color: $color--brand-red;
// $base--border-color: $color--brand-grey__mid;
// $base--background-color: $color--brand-grey__light;
// $base--background-color__dark: $color--brand-grey__mid;