.project {
	overflow: hidden;
}

.project__info {
    padding: 0 20px 20px;
    overflow: hidden;
    a {
    	color: inherit;
    }
}

.project__title {
    @include prefix(transition, background-color .2s ease-out);
    padding: 20px 20px 0;
    font-size: em(30px);
    letter-spacing: em(1.3px);
    font-family: $font--heading;
}

.info__label {
    font-size: em(20px);
    margin-bottom: 10px;
}

.info__text {
    margin-bottom: 20px;
}

.project__cta,
.project__cta--single {
    @include prefix(transition, all .2s ease-out);
    font-family: $font--heading;
    font-size: em(18px);
    display: block;
    text-align: center;
    padding: 20px;
    color: inherit;
	&:hover,
    &:focus {
        @include prefix(transition, all .1s ease-out);
        outline: 0;
    }
    @include media-query(550) {
        width: 50%;
        float: left;
        + .project__cta {
            float: right;
            border-right: 0;
        }
    }
}

.project__cta--single {
    width: 100%;
    border-right: 0;
}

.project__tools {
    clear: both;
    padding-top: 30px;
}

.project__tool {
    @include prefix(transition, all .2s ease-out);
    list-style: none;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:hover,
    &:active,
    &:focus {
        @include prefix(transition, all .1s ease-out);
        @include prefix(transform, scale(1.15, 1.15));
    }
    path,
    rect,
    circle {
        @include prefix(transition, all .2s ease-out);
    }
    svg {
        width: 100%;
        max-height: 80px;
    }
}

.tool__link {
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover + svg,
    &:active + svg,
    &:focus + svg {
        path,
        rect,
        circle {
            @include prefix(transition, all .1s ease-out);
        }
        .html5__text {
            fill: #fff;
        }
        .html5__shield--left {
            fill: #E44F26;
        }
        .html5__shield--right {
            fill: #f1662a;
        }
        .html5__5--left {
            fill: #ebebeb
        }
        .html5__5--right {
            fill: #fff;
        }
        .css3__text {
            fill: #fff;
        }
        .css3__shield--left {
            fill: #1572B6;
        }
        .css3__shield--right {
            fill: #33a9dc;
        }
        .css3__3--top-left {
            fill: #ebebeb;
        }
        .css3__3--top-right {
            fill: #fff;
        }
        .css3__3--bottom-right {
            fill: #fff;
        }
        .css3__3--bottom-left {
            fill: #ebebeb;
        }
        .jquery__wave {
            fill: #1b75bb;
        }
        .sass__text {
            fill: #cc6699;
        }
        .bem__shape {
            fill: #ffc31a;
        }
        .mixture__top {
            fill: #fff200;
        }
        .mixture__middle-left {
            fill: #ed1c24;
        }
        .mixture__middle {
            fill: #363639;
        }
        .mixture__middle-right {
            fill: #00a651;
        }
        .mixture__middle-bottom {
            fill: #2e3092;
        }
        .mixture__bottom-right {
            fill: #00aef0;
        }
        .mixture__bottom-left {
            fill: #ec008c;
        }
        .prepros__circle {
            fill: #5b9b0f;
        }
        .prepros__shape {
            fill: #fff;
        }
        .git__shape {
            fill: #f03c2e;
        }
        .compass__shape--bottom {
            fill: #D91607;
        }
        .compass__shape--middle {
            fill: #fe6056;
        }
        .compass__shape--top {
            fill: #eb1808;
        }
        .compass__star {
            fill: #fff;
        }
    }
}

.html5__text,
.html5__shield--left,
.html5__shield--right,
.css3__text,
.css3__shield--left,
.css3__shield--right,
.jquery__wave,
.sass__text,
.bem__shape,
.mixture__shape,
.git__shape,
.compass__shape,
.prepros__shape {
    fill: #fff;
}

.project--inverted {
    color: #1a1a1a;
    .html5__text,
    .html5__shield--left,
    .html5__shield--right,
    .css3__text,
    .css3__shield--left,
    .css3__shield--right,
    .jquery__wave,
    .sass__text,
    .bem__shape,
    .mixture__shape,
    .git__shape,
    .compass__shape,
    .prepros__shape {
        fill: #1a1a1a;
    }
}