.blog__post {
    padding: 50px 30px;
    font-family: $font--copy;
    line-height: 1.45;
    &:nth-child(odd) {
        background-color:$color--grey--primary;
    }
    &:nth-child(even) {
        background-color:$color--grey--secondary;   
    }
    p,
    h1,
    h2,
    h3,
    h4,
    ul,
    ol,
    img,
    pre {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 1.3em;
    }
    h1,
    h2,
    h3,
    h4 {
        margin: 1.414em 0 .5em;
        line-height: 1.2;
        &:first-child {
            margin-top: 0;
        }
    }
    h1 {
        font-size: 2.074em; //33.178px
    }
    h2 {
        font-size: 1.728em; //27.648px
    }
    h3 {
        font-size: 1.44em; //23.04px
    }
    h4 {
        font-size: 1.2em; // 19.2px
    }
    ul li {
        list-style: disc;
        margin-left: 40px;
    }
    ol li {
        margin-left: 40px;
    }
    blockquote {
        font-family: $font--fancy;
        font-size: 1.44em; //27.648px
        text-align: center;
        padding: 40px 60px;
        margin-bottom: 20px;
        border: 2px solid #ccc;
        border-left: 0;
        border-right: 0;
        p {
            margin-bottom: 0;
        }
    }
    .float--left {
        float: left;
        margin-right: 20px;
        max-width: 50%;
    }
    .float--right {
        float: right;
        margin-left: 20px;
        max-width: 50%;
    }
    ol ol {
        list-style-type: lower-alpha;
    }
    ul ul,
    ol ol,
    ul ol,
    ol ul {
        margin-bottom: 0;
    }
}

.code-wrapper {
    background-color: #fff;
    margin-left: -2000px;
    margin-right: -2000px;
    padding-left: 2000px;
    padding-right: 2000px;
}

.important {
    border: 2px dashed #c2c2c2;
    padding: 10px;
}