.nav--primary {
    float: left;
    margin: 0 0 30px 30px;
    @include media-query(550) {
        float: right;
        margin: 40px 0;
    }
}

.nav--primary__item {
    font-family: $font--heading;
    list-style: none;
    float: left;
    margin-right: 20px;
    position: relative;
    svg {
        width: 30px;
        height: 30px;
    }
    path,
    rect,
    circle {
        @include prefix(transition, all .2s ease-out);
    }
    @include media-query(mobile) {
        margin-right: 30px;
    }
}

.nav--primary__link--text {
    font-size: em(18px);
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    &:hover {
        border-bottom: 2px solid;
    }
}

.github__ears,
.github__eye--right,
.github__eye--left,
.twitter__bird,
.email__envelope,
.cv__shape,
.linkedin__square {
    fill: #333;
}

.github__face {
    fill: #fff;
}

.nav--primary__link {
    @include prefix(transition, all .2s ease-out);
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover + svg,
    &:active + svg,
    &:focus + svg {
        path,
        rect,
        circle {
            @include prefix(transition, all .1s ease-out);
        }
        .github__ears {
            fill: #000;
        }
        .github__eye--left,
        .github__eye--right {
            fill: #6e4936;
        }
        .github__eye--left,
        .github__eye--right {
            stroke: #fff;
        }
        .github__face {
            fill: #f3cab2;
        }
        .linkedin__square {
            fill: #1884bb;
        }
        .twitter__bird {
            fill: #55acee;
        }
        .email__envelope {
            fill: #d74937;
        }
        .cv__shape {
            fill: #ffcc00;
        }
    }
}