.nav-primary {
    float: left;
    margin: 0 0 30px 30px;
    @include media-query(550) {
        float: right;
        margin: 40px 0;
    }
}

.nav-primary__item {
    font-family: $font--heading;
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    svg {
        width: 30px;
        height: 30px;
    }
    path,
    rect,
    circle {
        @include prefix(transition, all .2s ease-out);
    }
    @include media-query(mobile) {
        margin-right: 30px;
    }
}

.nav-primary__link--text {
    @include prefix(transition, all .2s ease-out);
    font-size: 1.2em; //19.2px
    font-weight: 500;
    color: $color--copy;
    vertical-align: middle;
    border-bottom: 2px solid #fff;
    &:hover {
        @include prefix(transition, all .1s ease-out);
        border-bottom-color: $color--copy;
    }
}

.github__ears,
.github__eye--right,
.github__eye--left,
.twitter__bird,
.email__envelope,
.cv__shape,
.linkedin__square {
    fill: $color--copy;
}

.github__face {
    fill: #fff;
}

.nav-primary__link {
    @include prefix(transition, all .2s ease-out);
    &:hover {
        border: 0;
    }
    &:hover svg,
    &:active svg,
    &:focus svg {
        path,
        rect,
        circle {
            @include prefix(transition, all .1s ease-out);
        }
        .github__ears {
            fill: #000;
        }
        .github__eye--left,
        .github__eye--right {
            fill: #6e4936;
        }
        .github__eye--left,
        .github__eye--right {
            stroke: #fff;
        }
        .github__face {
            fill: #f3cab2;
        }
        .linkedin__square {
            fill: #1884bb;
        }
        .twitter__bird {
            fill: #55acee;
        }
        .email__envelope {
            fill: #d74937;
        }
        .cv__shape {
            fill: #ffcc00;
        }
    }
}