.pagination {
    text-align: center;
    margin: 50px 0;
    color: lighten($color--copy, 40%);
}

.pagination__previous {
    margin-right: 10px;
    color: $color--highlight;
}

.pagination__next {
    margin-left: 10px;
    color: $color--highlight;
}