.project {
	overflow: hidden;
    &:nth-child(odd) {
        background-color:$color--grey--primary;
        .html5__5--left,
        .html5__5--right,
        .css3__3--top-left,
        .css3__3--top-right,
        .css3__3--bottom-right,
        .css3__3--bottom-left,
        .prepros__circle,
        .compass__star,
        .less__background,
        .grunt__eye,
        .grunt__tusk,
        .grunt__skin,
        .grunt__shading {
            fill: $color--grey--primary;
        }
        .backbone__light {
            fill: $color--copy--light;
        }
    }
    &:nth-child(even) {
        background-color:$color--grey--secondary;   
        .html5__5--left,
        .html5__5--right,
        .css3__3--top-left,
        .css3__3--top-right,
        .css3__3--bottom-right,
        .css3__3--bottom-left,
        .prepros__circle,
        .compass__star,
        .less__background,
        .grunt__eye,
        .grunt__tusk,
        .grunt__skin,
        .grunt__shading {
            fill: $color--grey--secondary;
        }
        .backbone__light {
            fill: $color--copy--light;
        }
    }
}

.project__image {
    padding: 40px 30px;
    @include media-query(1200) {
        float: right;
        width: 60%;
        padding-bottom: 130px;
    }
}

.project__info {
    padding: 0 30px;
    overflow: hidden;
    a {
    	color: inherit;
    }
    @include media-query(1200) {
        float: left;
        width: 40%;
        margin-top: 40px;
    }
}

.project__title {
    @include prefix(transition, background-color .2s ease-out);
    padding: 50px 30px 0;
    font-size: 1.728em; //27.648px
    font-weight: 300;
    font-family: $font--heading;
}

.info__label {
    font-size: 1.44em; //23.04px
    font-weight: 300;
    margin-bottom: 5px;
}

.info__text {
    margin-bottom: 40px;
    line-height: 1.4;
}

.project__actions {
    float: left;
    clear: left;
    margin: 0 30px 40px;
}

.project__tools {
    clear: both;
    margin-bottom: 20px;
}

.project__tool {
    @include prefix(transition, all .2s ease-out);
    list-style: none;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    &:hover,
    &:active,
    &:focus {
        @include prefix(transition, all .1s ease-out);
        @include prefix(transform, scale(1.15, 1.15));
    }
    path,
    rect,
    circle {
        @include prefix(transition, all .2s ease-out);
    }
    svg {
        width: 100%;
        max-height: 80px;
    }
}

.project__tool--wide {
    width: 80px;
}

.tool__link {
    &:hover {
        border: 0;
    }
    &:hover svg,
    &:active svg,
    &:focus svg {
        path,
        rect,
        circle {
            @include prefix(transition, all .1s ease-out);
        }
        .html5__text {
            fill: #fff;
        }
        .html5__shield--left {
            fill: #E44F26;
        }
        .html5__shield--right {
            fill: #f1662a;
        }
        .html5__5--left {
            fill: #ebebeb
        }
        .html5__5--right {
            fill: #fff;
        }
        .css3__text {
            fill: #fff;
        }
        .css3__shield--left {
            fill: #1572B6;
        }
        .css3__shield--right {
            fill: #33a9dc;
        }
        .css3__3--top-left {
            fill: #ebebeb;
        }
        .css3__3--top-right {
            fill: #fff;
        }
        .css3__3--bottom-right {
            fill: #fff;
        }
        .css3__3--bottom-left {
            fill: #ebebeb;
        }
        .jquery__wave {
            fill: #1b75bb;
        }
        .sass__text {
            fill: #cc6699;
        }
        .bem__shape {
            fill: #ffc31a;
        }
        .mixture__top {
            fill: #fff200;
        }
        .mixture__middle-left {
            fill: #ed1c24;
        }
        .mixture__middle {
            fill: #363639;
        }
        .mixture__middle-right {
            fill: #00a651;
        }
        .mixture__middle-bottom {
            fill: #2e3092;
        }
        .mixture__bottom-right {
            fill: #00aef0;
        }
        .mixture__bottom-left {
            fill: #ec008c;
        }
        .prepros__circle {
            fill: #5b9b0f;
        }
        .prepros__shape {
            fill: #fff;
        }
        .git__shape {
            fill: #f03c2e;
        }
        .compass__shape--bottom {
            fill: #D91607;
        }
        .compass__shape--middle {
            fill: #fe6056;
        }
        .compass__shape--top {
            fill: #eb1808;
        }
        .compass__star {
            fill: #fff;
        }
        .backbone__dark {
            fill: #002A41;
        }
        .backbone__light {
            fill: #0071B5;
        }
        .less__background {
            fill: #172e4e;
        }
        .less__character {
            fill: #fff;
        }
        .grunt__outline {
            fill: #463014;
        }
        .grunt__tusk,
        .grunt__eye {
            fill: #fff;
        }
        .grunt__skin {
            fill: #FBA919;
        }
        .grunt__shading {
            fill: #E78724;
        }
    }
}

.html5__text,
.html5__shield--left,
.html5__shield--right,
.css3__text,
.css3__shield--left,
.css3__shield--right,
.jquery__wave,
.sass__text,
.bem__shape,
.mixture__shape,
.git__shape,
.compass__shape,
.prepros__shape,
.less__character,
.backbone__dark,
.grunt__outline {
    fill: $color--copy;
}