.project {
	border-bottom: 4px dashed #ccc;
	overflow: hidden;
}

.project__info {
    padding: 20px;
    background-color: #2b303b;
    color: #fff;
    a {
    	color: inherit;
    }
}

.project__title {
	margin-bottom: 10px;
}

.project__actions {
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// right: 0;
}

.project__cta {
	width: 50%;
	float: left;
	text-align: center;
	padding: 20px;
	color: #fff;
	// background-color: #323848;
	background-color: rgba(50, 56, 72, .8);
	&:hover {
		background-color: #2b303b;
	}
	+ .project__cta {
		float: right;
	}
}