{% block title %}404 Page Not Found{% endblock %}
{% block content %} 
    <section class="introduction--fancy" style="background-image: url(/assets/img/content/banner--sea.jpg);">
        <h1>Looks like you're lost</h1>
    </section>
{% endblock %}