
// #HEADINGS
// Heading-level styling

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-family: $font--heading;
}

h1 {

}

h2 {

}

h3 {
    
}

h4 {
    
}

h5 {
    
}

h6 {
    
}

.section-title {
	letter-spacing: em(1.3px);
	text-align: center;
	font-size: em(35px);
	padding: 20px;
	background-color: $color--grey;
	border-top: 1px solid $color--grey--lighter;
	border-bottom: 1px solid $color--grey--darker;
}