body {
	font-size: $base--font-size;
	margin: 0 auto;
	max-width: 2362px;
	background-color: #fff;
	color: $color--copy;
	font-family: $font--copy;
	overflow-x: hidden;
	@include media-query(tablet-and-desktop) {
		margin: 113px auto 0;
    }
}

img {
	max-width: 100%;
	display: block;
}

a {
	color: $color--highlight;
	text-decoration: none;
	outline: 0;
	@include prefix(transition, all .2s ease-out);
	&:hover {
		@include prefix(transition, all .1s ease-out);
		border-bottom: 2px solid;
	}
	&:focus {
		outline: 0;
	}
}

p a {
	display: inline-block;
	&:hover {
		margin-bottom: -2px;
	}
}

.wrapper {
	@include clearfix;
    max-width: 960px;
    margin: 0 auto;
}