// #PAGE
// Page-level styling, e.g. `html` and `body` elements, etc.

body {
	font-size: $base--font-size;
	margin: 0 auto;
	max-width: 2362px;
	background-color: #fff;
	color: $color--copy;
	@include media-query(tablet-and-desktop) {
		margin: 113px auto 0;
    }
}

img {
	max-width: 100%;
	display: block;
}

p {
	font-family: $font--copy;
}