// #PAGE
// Page-level styling, e.g. `html` and `body` elements, etc.

// 1. One off bits of maths to get our base font size in ems and our base line height in a unitless value.

html {

}

body {
	margin: 0 auto;
	max-width: 2362px;
	background-color: $color--grey--background;
	color: #fff;
}

img {
	max-width: 100%;
	display: block;
}

p {
	font-family: $font--copy;
}